<h3>Shahil doesn't have the time to make this reset link work</h3>
<h3>just whatsapp me @ 8056154859. if you really want to reset the password</h3>
<h4>Tired of working alone! Ebrahim and Abishek did nothing <--<<</h4>
Hello {{ user.first_name }},

You are receiving this email because you requested to reset your password.

Please click on the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't make this request, please ignore this email.

Thank you,
Bonda Boys
